<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
    <h2>Edit User</h2>
    <form th:action="@{'/update/' + ${user.id}}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />

        Name: <input type="text" th:field="*{name}" /><br><br>
        Email: <input type="email" th:field="*{email}" /><br><br>

        <button type="submit">Update</button>
    </form>
</body>
</html>
